{% extends "base.html" %}
{% load static %}


<head>

    {% block head_content %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <title>{{ post.title }}</title>
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ post.description }}">
    <meta property=”og:site_name” content="My business"/>
    {% endblock %}
    

</head>

{# View projects #}
{% block container %}
<section class="cnt-project">
    <h1>{{ post.title }}</h1>
    <div class="center-img">
        <img class="size-main-img" class="card-img-top" src="../../media/{{ post.photo }}" alt="{{ post.title }}">
    </div>
    <p class="blockquote-footer" style="margin-top: 0;"><b>By:</b> @<cite title="{{ post.author }}">{{ post.author }}</cite></p> 
    <p><b>Date:</b> {{ post.created|date:"d/m/Y" }}</p>
    {{ post.text|linebreaks  }}


</section>


{% endblock %}